package components

templ StatsCard(title string, value string, subtitle string) {
	<div class="stat bg-base-100 rounded-box shadow-lg">
		<div class="stat-title">{ title }</div>
		<div class="stat-value">{ value }</div>
		if subtitle != "" {
			<div class="stat-desc">{ subtitle }</div>
		}
	</div>
}
